extends layout

block content
    html(ng-app="myApp")
    link(href="bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.standalone.min.css" rel="stylesheet")
    script(src="bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")
    script(src="javascripts/mod-new-create.js")
    button.btn.btn-primary.btn-lg(data-toggle="modal" data-target="#createNewModal") 新建content-tracking

    script.
        $(function () {
            function reposition() {
                var modal = $(this), dialog = modal.find('.modal-dialog');
                modal.css('display', 'block');
                // Dividing by two centers the modal exactly, but dividing by three
                // or four works better for larger screens.
                dialog.css("margin-top", Math.max(0, ($(window).height() - dialog.height()) / 2));
            }

            // Reposition when a modal is shown
            $('.modal').on('show.bs.modal', reposition);
            // Reposition when the window is resized
            $(window).on('resize', function () {
                $('.modal:visible').each(reposition);
            });
        });

    div#createNewModal.modal.fade(ng-controller="ctl_create_new" tabindex="-1" role="dialog" aria-labelledby="createNewModalLabel" aria-hidden="true")
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
                    h4#createNewModalLabel.modal-title
                div.modal-body
                    form
                        div
                            label 选择类型
                        div.btn-group( ng-model="selectedType" role="group"  aria-label="...")
                            button.btn(ng-click="setAdvertiser()" ng-class="getAdvertiserCssClass()") 广告主
                            button.btn(ng-click="setOrder()" ng-class="getOrderCssClass()") 订单
                        div.form-group
                            label(for="keywords") 名称
                            input#keywords.form-control(placeholder="{{getPlaceholder()}}")
                        div.form-group
                            label(for="date-range") 日期范围
                            div#datepicker.input-daterange.input-group
                                input.input-sm.form-control(type="text" name="start")
                                span.input-group-addon to
                                input.input-sm.form-control(type="text" name="end")
                        script.
                            $('#datepicker.input-daterange').datepicker({
                                format: "yyyy-mm-dd",
                                autoclose: true
                            });

                div.modal-footer
                    button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                    button.btn.btn-primary(type="button") 提交

