doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='bower_components/jquery/dist/jquery.min.js' type='javascript')
    script(src='bower_components/angularjs/angular.min.js' type='javascript')
  body
    block content
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')